Documents
Downloads
.Xauthority*
.ICEauthority
.cache
.compiz
.config
.byobu
.cpan
.cpanm
.dbus
.adobe
.bash_history
.bash_logout
.gconf
.macromedia
.mozilla
.pki
.steam*
.xsession*
.pulse
.rnd
.hplip
.local
.ssh
.pulse-cookie
.sane
.thunderbird
CSR.csr
Desktop
examples.desktop
.dmrc
.viminfo
.vim/.netrwhist
